.form {
  margin-top: 10px;
  text-align: left;
}

.input {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 6px;
  color: black;
}
.btn {
  border-radius: 6px;
  margin-left: 6px;
}
